menu *{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol,li{
    list-style: none;
}
body{
    font-family: "Quicksand", sans-serif;
    scroll-behavior: smooth;
    margin: 0;
}
header{
    background-color: #fefefe;
    position: fixed;
    width: 90vw;
    height: 129px;
}
#logo{
    width: 193px;
}
header nav ul{
    display: flex;
    align-items: center;
    margin-top: -30px;
    margin-left: 100px;
    /*/Aumanetando a altura do header*/
    padding: 5px;
}
header nav a{
    font-weight: bold;
    font-size: 11px;
    color: #211b15;
    padding: 85px;
    /*ficar devagar ao passar o mouse*/
    transition: background-color 1s;
    margin-right: 20px;
}



/*Esse comando serve para remover o espacamento apos a ultima secao do menu*/
header nav a:last-child{
    margin-right: 0;
}
/*quando passar por cima do mouse*/
header nav a:hover{
    color: white;
    background-color: #E9DEF2;
}

main {
    padding: 20px;
}

h1{
    font-size: 70px;
    margin-top: 140px;
}


section {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#mecanica{
    width: 100%;
}
#mecanica p{
    font-size: 16px;
    width: 60vw;
}


#classica{
    margin-top: 20px;
}
#classica p{
    font-size: 16px;
    width: 1000px;
}


#relativistica{
    margin-top: 20px;
}
#relativistica p{
    font-size: 16px;
    width: 1000px;
}


#quantica{
    margin-top: 20px;
}
#quantica p{
    font-size: 14px;
    width: 1000px;
}


.grupo{
    height: 10vh;
    justify-content: center;
}

section h2 {
    color: purple;
    padding: 0;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #d5b1f3;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: underline;
    margin-left: 10px;
}

footer button {
    background-color: purple;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

footer button:hover {
    background-color: #E9DEF2;
}

@media (max-width: 960px){
    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 20px;
    }

    header nav a {
        font-size: 12px;
        padding: 10px;
    }

    #logo {
        width: 150px;
        margin-left: 20px;
    }



    h1{
        font-size: 30px;
        margin-top: 100px;
    }
    section h2 {
        color: purple;
        padding: 0;
        font-size: 1.2rem;
    }
    
    section {
        margin-bottom: 10px;
        background-color: white;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    #mecanica{
        width: 75%;
    }
    #mecanica p{
        font-size: 14px;
        width: 60vw;
    }
    
    
    #classica{
        margin-top: 10px;
        width: 75%;
    }
    #classica p{
        font-size: 14px;
        width: 500px;
    }
    
    
    #relativistica{
        margin-top: 10px;
        width: 75%;
    }
    #relativistica p{
        font-size: 14px;
        width: 500px;
    }
    
    
    #quantica{
        margin-top: 10px;
        width: 75%;height: 2%;
    }
    #quantica p{
        font-size: 14px;
        width: 60vw;
    }

    
    footer {
        text-align: center;
        padding: 10px;
        background-color: #d5b1f3;
        color: white;
        position: fixed;
        bottom: 0;
        width: 98%;
    }    
    footer button {
        background-color: purple;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
    }
}



@media (max-width: 640px){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 2px;
    }

    #logo {
        margin-top: 30px;
        width: 50px; 
        margin-right: 300px;
    }

    header nav li {
        display: none; 
    }
    
    h1{
        font-size: 15px;
        margin-top: 50px;
    }
    section h2 {
        color: purple;
        padding: 0;
        font-size: 12px;
    }
    
    section {
        margin-bottom: 10px;
        background-color: white;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    #mecanica{
        margin-top: 5vh;
        width: 92%;
        height: 1%;
    }
    #mecanica p{
        font-size: 8px;
        width: 75vw;
    }
    
    
    #classica{
        margin-top: 2vh;
        width: 92%;
        height: 1%;
    }
    #classica p{
        font-size: 8px;
        width: 75vw;
    }
    
    
    #relativistica{
        margin-top: 2vh;
        width: 92%;
        height: 1%;
    }
    #relativistica p{
        font-size: 8px;
        width: 75vw;
    }

    #quantica{
        margin-top: 2vh;
        width: 92%;
        height: 1%;
    }
    #quantica p{
        font-size: 8px;
        width: 75vw;
    }

    footer {
        text-align: center;
        font-size: 10px;
        padding: 10px;
        background-color: #d5b1f3;
        color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
    }    
    footer button {
        background-color: purple;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
        font-size: 7px;
        margin-top: 1vh;
    }
}