menu *{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol,li{
    list-style: none;
}
body{
    font-family: "Quicksand", sans-serif;
    scroll-behavior: smooth;
    margin: 0;
}
header{
    background-color: #fefefe;
    position: fixed;
    width: 90vw;
    height: 129px;
}
#logo{
    width: 193px;
}
header nav ul{
    display: flex;
    align-items: center;
    margin-top: -30px;
    margin-left: 100px;
    /*/Aumanetando a altura do header*/
    padding: 5px;
}
header nav a{
    font-weight: bold;
    font-size: 11px;
    color: #211b15;
    padding: 85px;
    /*ficar devagar ao passar o mouse*/
    transition: background-color 1s;
    margin-right: 20px;
}



/*Esse comando serve para remover o espacamento apos a ultima secao do menu*/
header nav a:last-child{
    margin-right: 0;
}
/*quando passar por cima do mouse*/
header nav a:hover{
    color: white;
    background-color: #E9DEF2;
}

main {
    padding: 20px;
}

h1{
    font-size: 70px;
    margin-top: 140px;
}


section {
    margin-bottom: 22px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#optica p{
    font-size: 16px;
    width: 60vw;
}


#geometrica{
    margin-top: 20px;
}
#geometrica p{
    font-size: 16px;
    width: 1000px;
}


#fisica{
    margin-top: 20px;
}
#fisica p{
    font-size: 16px;
    width: 1000px;
}



.grupo{
    height: 10vh;
    justify-content: center;
}

section h2 {
    color: purple;
    padding: 0;
}














footer {
    text-align: center;
    padding: 10px;
    background-color: #DEACF9;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

